.navbar .navbar-brand {
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: #66f;
  font-size: 30px;
}

nav {
  position: fixed;
  /* overflow-y: scroll !important; */
}
