body,
html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}
.body {
  background-color: lavender;
}
.card-group {
  display: flex;
}
.card {
  max-width: 18rem;
}
.ongoing {
}
.upcoming {
}
