* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #000;
}
#content {
  margin: auto;
  text-align: center;
}
.lottie-player {
  margin: auto;
}
h1 {
  color: #fff;
  font-weight: 500;
}
.card-header {
  color: #66f;
}
.body {
  background-color: lavender;
}
.card-group {
  display: flex;
}
.card {
  max-width: 18rem;
  background: #121212;
}
.card-text {
  font-size: small;
}
a {
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  h1 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
  }
}
.centered {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button,
.btn {
  background: #66f;
  color: #eee;
}
h3 {
  color: #fff;
}
p {
  color: #fff;
}
